{% extends "movie_sys/base.html" %}

{% block content %}
<h2>Hi this is about</h2>
<p>Welcome to our site, We have created an online platform to enhance your movie-going experience, allowing you to
    browse movies, select theaters, and purchase tickets all in one place. Our system is designed with you in mind,
    to provide an easy and efficient way for you to enjoy your favorite movies.

Our platform features a range of user types, including Guest Users, Registered Users, Admins, Managers, and Clients.
    Admins have access to manage other users and the Over The Top (OTT) content on the platform, while Managers manage
    theaters and showtimes. Clients are regular users who can browse movies, select theaters, purchase tickets, and
    leave reviews.

Our system offers a variety of advanced features such as user authentication, account management, and user login/logout
    options. Additionally, Admin users have access to User Management and OTT Management, while Manager users have
    access to Theater Management.

Our movie ticket system project is built with the aim of providing you with a seamless experience when buying movie tickets, while also allowing you to discover new films and share your opinions with others. So, sit back, relax, and enjoy your favorite movies with our movie ticket system project."</p>
<span>Rules and regulations</span>
<ul>
    <li>
            No outside food or drinks are allowed in the cinema hall.
    </li>
        <li>
  Smoking or use of any form of tobacco products is prohibited inside the cinema hall.
    </li>
        <li>
The cinema hall is not responsible for lost or stolen items.
    </li>
        <li>
Patrons are expected to behave in a courteous and respectful manner towards other patrons and cinema hall staff.
    </li>
        <li>
Patrons are expected to turn off or silence their mobile phones during the movie.
    </li>
        <li>
Latecomers will not be allowed into the cinema hall once the movie has started.
    </li>    <li>
In case of any emergency or need for assistance, patrons should contact the cinema hall staff immediately.
    </li>
        <li>
The cinema hall reserves the right to refuse entry to any patron or to ask any patron to leave if they violate any of the rules or behave in a disruptive manner.

    </li>
        <li>
Patrons are advised to follow the seating arrangements and not change seats once the movie has started.
    </li>
        <li>

Children under the age of 12 should be accompanied by an adult while watching movies in the cinema hall.
    </li>

    <li>

booked ticket must be reedem 1hr before the airing time otherwise it can be sold to other person.
    </li>
</ul>
{% endblock content %}