<!--PS E:\Summer_project\summerproject> python manage.py runserver-->

{% extends "movie_sys/base.html" %}

{% block content %}
    <h2>Theater</h2>
<div class="gallery">
    <div class="row">
        {% for theater in theaters %}
        <div class="item col-md-3">
            <img src="{{ theater.logo.url }}" alt="{{ theater.name }}" width="250px" height="300px">
            <div class="details">
            <kbd style="font-size: 20px">{{ theater.theater_name }}</kbd>
                <a href="{% url 'movie_sys-movie_coll' theater.id %}" class="btn btn-primary">Visit</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>
<hr>
<div class="container">
  <h2 class="text-center my-5">Upcomming Movies</h2>
  <div class="gallery">
    {% for upcomming in upcommings %}
      <div class="upcomming_item">
        <img src="{{ upcomming.poster.url }}" alt="{{ upcomming.title }}" width="200px" height="200px" >
        <div class="details">
          <h2>{{ upcomming.title }}</h2>
          <p><strong>Genre:</strong> {{ upcomming.genre }}</p>
          <p><strong>Cast:</strong> {{ upcomming.cast }}</p>
          <p><strong>Directed By:</strong> {{ upcomming.directed_by }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<hr>
<hr>

  <h2 class="text-center my-5">Browse Movies</h2>
<div class="gallery">
    <div class="row">
        {% for theater in theaters %}
        <div class="item col-md-3">
          <a href="#">  <img src="{{ theater.logo.url }}" alt="{{ theater.theater_name }}" width="250px" height="300px"></a>
              <div>
            <a href="#" class="btn btn-primary">Watch</a>

            <a href="#" class="btn btn-primary">Add watch later</a>
       </div>
        </div>

        {% endfor %}
    </div>
</div>
<hr>



{% endblock %}

