{% extends "movie_sys/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <center>
<video width="80%" height="60%" controls>
  <source src="{{ ott.movie_video.url }}" type="video/mp4">
</video>
<!--      <button id="play-video">Play Video</button>-->
</center>

    </div>
  </article>
{% endblock content %}


<!--
{% block script %}

<script>
  const playButton = document.getElementById('play-video');
  const videoPlayer = document.getElementById('video-player');

  playButton.addEventListener('click', () => {
    videoPlayer.autoplay = true;
    videoPlayer.load();
  });
</script>


{% endblock script %}-->
