{% extends 'movie_sys/base.html'%}

{% block content %}

{% if ott_list %}
<div class="row">
    {% for ott in ott_list %}
    <div class="col-md-2 ott_mov" style="border: 1px solid white;">
<!--<a href="{% url 'ott_detail' pk=ott.pk %}">-->
    <a href="{% url 'ott_detail' pk=ott.pk %}">
 <img src="{{ ott.poster.url }}" alt="{{ ott.title }}" width="200px" height="250px">
    <h2 style="font-size:25px;">{{ ott.title }}</h2>
    <p>{{ ott.description }}</p>
           </a>
</div>

{% endfor %}

</div>
{% endif %}
{% endblock content %}