{% extends "movie_sys/base.html" %}

{% block title %} Search result {% endblock %}
{% block content %}
    <div class="container">
        <div class="row row justify-content-between align-items-center">
            <div class="col-md-6">
                <h1>Theater Search</h1>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <form id="searchForm" method="get" action=""  class="form-inline">
                    <div class="input-group">
                           <input type="search" class="form-control search_input mr-sm-2" style="max-width: 200px;" name="query" placeholder="Enter location..." value="{{ request.GET.query }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
<div class="gallery">
    <div class="row">
        {% for theater in theaters %}
        <div class="item col-md-3">
            <a href="{% url 'movie_sys-movie_coll' theater.id %}">
                <img src="{{ theater.logo.url }}" alt="{{ theater.name }}" width="300px" height="300px"></a>
            <div class="details" style="width: 100%;">
                <div class="text-center">
                    <h6 style="font-size: 20px">{{ theater.theater_name }}</h6>
                    <span class="bi bi-geo-alt">{{ theater.location }}</span>
                    <a href="{% url 'movie_sys-movie_coll' theater.id %}" class="btn btn-primary">Visit</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}